*, *::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    padding: 0;
    font-family: 'Inter';
    font-size: .7rem;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
}

body {
    background-color: #e5e5f7;
    background: linear-gradient(135deg, #f700ff55 25%, transparent 25%) -20px 0/
    40px 40px,
    linear-gradient(225deg, #f700ff 25%, transparent 25%) -20px 0/ 40px 40px,
    linear-gradient(315deg, #f700ff55 25%, transparent 25%) 0px 0/ 40px 40px,
    linear-gradient(45deg, #f700ff 25%, #e5e5f7 25%) 0px 0/ 40px 40px;

}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
  
input, button, textarea, select {
    font: inherit;
    border: none;
    background-color: transparent;
}


ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h1,
h2 {
    text-transform: uppercase;
    font-weight: bold;
	text-align: center;
}

h1 {
    font-family: 'Bungee Shade';
    font-size: 3rem;
}

h2 {
    font-family: 'Darker Grotesque';
    padding: .5rem;
    font-size: 1.2rem;
}

aside {
    position: fixed;
    right: 0;
    top: 5rem;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

table {
    width: 100%;
    box-shadow: 2px 2px;
    border-collapse: collapse;
}

table:hover {
    box-shadow: 5px 5px;
}

table, th, td {
    border: 2px solid black;
    padding: .5rem;
}

th {
    text-align: center;
    background-color: chartreuse;
}

tr:hover {
    background-color: #a1a1aa;
    cursor: default;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px 10px;
    grid-template-areas: 'title title title title'
                         'left center center right'
                         'bottom bottom bottom bottom';
    
    grid-template-rows: .7fr 2.1fr .2fr;
}

.profile {
    text-align: center;
}

.profile h1 {
    width: 100%;
}

.profile .button {
    font-family: 'DotGothic16';
    font-size: 1.2rem;
    padding: 1rem;
    max-width: fit-content;
    border: 2px solid black;
    border-radius: .5rem;
    box-shadow: 5px 5px;
    background: white;
    rotate: -5deg;
    margin-inline: auto;
}

.profile .button:hover {
    box-shadow: 10px 10px;
    background: #e1d9d1;
    cursor: pointer;
}

.button:active {
    animation: click .3s ease-in-out;
}

@keyframes click {
    from {
        box-shadow: 5px 5px;
    }

    to {
        box-shadow: none;
    }
}

.title {
    grid-area: title;
    margin-bottom: 2rem;
}

.left {
    grid-area: left;
}

.center {
    grid-area: center;
    width: 98%;
}

.right {
    grid-area: right;
}

.bottom {
    grid-area: bottom;
}

.side {
    opacity: 0;
    z-index: -1;
}

.d-block {
    opacity: 1;
    z-index: 2;
    transition: opacity 400ms;
}

.stack-order {
    z-index: -1;
}

.calories {
    position: fixed;
    top: 8rem;
    left: 0;
    max-width: fit-content;
    border: 2px solid black;
    border-radius: 0 1vmax 1vmax 0;
    box-shadow: -10px 10px;
    background: #e4e4e7;
}

.calories h2, aside h2 {
    text-decoration: underline;
}

.calories-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;
}

.calories-item {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    border: 2px solid black;
    border-radius: .5rem;
}

.calories-item p {
    padding: .5rem;
    margin-top: .5rem;
    margin-inline: auto;
    border: 1px solid black;
    border-radius: .5rem;
    box-shadow: -3px 3px;
}

.calories-item:hover p {
	box-shadow: -5px 5px;
}

.calories-item:first-child p {
    background-color: rgb(180 180 255);
}

.calories-item:nth-child(2) p {
    background-color: rgb(127 127 255);
}

.calories-item:nth-child(3) p {
    background-color: rgb(86 86 250);
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.table {
    padding: 1rem;
}

/* box-shadow - offset-x offset-y */
.personal-bests, .challenges {
    border: 2px solid black;
    border-radius: 1vmax 0 0 1vmax;
    background-color: #e4e4e7;
    box-shadow: 10px 10px;
    display: flex;
    flex-direction: column;
}

.personal-bests ul {
    padding: 1rem 0 1rem 1rem;
}

/* border-radius - top-left | top-right | bottom-right | bottom-left */
.personal-bests li {
    padding: .5rem 1rem;
    border-radius: 10vmax 0 0 10vmax;
    box-shadow: 3px 3px;
    background-color: rgb(253 55 177)
}

.challenges ul {
    padding: 0 0 1rem 1rem;
}

.challenges li {
    padding: .5rem 1rem;
    border-radius: 10vmax 0 0 10vmax;
    box-shadow: 3px 3px;
    background-color: rgb(253 184 55);
}

.challenges li:hover {
	background-color: rgb(255, 202, 104);
	box-shadow: 5px 5px;
	cursor: default;
}

.card {
    border: 2px solid black;
    border-radius: .5rem;
    box-shadow: 10px 10px;
    background-color: #e4e4e7;
    flex: 1;
}

.card h2 {
    font-size: 1.2rem;
    color: white;
    background: black;
    max-width: fit-content;
    border: 2px solid black;
    border-radius: 0 0 .5rem 0;
}

.card:hover {
	box-shadow: 15px 15px;
	cursor: default;
}

.td {
    white-space: nowrap;
    width: 1%;
}

.activity-feed {
    position: fixed;
    bottom: 0;
    min-height: 2rem;
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-areas: 'h2 ul';
    width: 100%;
}

.activity-feed h2 {
    grid-area: h2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 .2rem;
    font-size: .9rem;
    background-color: purple;
    color: white;
    border: 1px solid black;
    z-index: 100;
}

.activity-feed ul {
    grid-area: ul;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 3rem;

}

.activity-feed li {
    font-weight: bold;
    padding: .2rem;
    margin: .4rem 0;
    border: 1px solid black;
    box-shadow: 3px 3px;
    max-width: fit-content;
    min-width: calc(40% + 1rem);
    overflow-wrap: break-word;
    background: white;
    line-height: .8rem;
}

.scroll-container {
    background: #d4d4d8;
    border: 2px solid black;
}

.scroll-text {
    transform: translateX(100%);
    animation: my-animation 60s linear infinite;
}

.animated-sides {
    animation: growUp 500ms ease-in-out;
    transform-origin: center;
}

.grain {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -2;
	transform: translateZ(0);
}

.grain:before {
	content: '';
    top: -10rem;
	left: -10rem;
	width: calc(100% + 20rem);
	height: calc(100% + 20rem);
	z-index: 9999;
	position: fixed;
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Image_gaussian_noise_example.png);
	opacity: 0.5;
	pointer-events: none;
	animation: noise 1s steps(2) infinite;
}



@keyframes my-animation {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes growUp {
    0% {
        transform: rotateX(-90deg)
    }
    50% {
        transform: scale(1.1);
    }
    70% {
        transform: rotateX(20deg)
    }
    90% {
        transform: rotateX(0deg) 
    }
    100% {
        transform: scale(1)
    }
} 

@keyframes noise {
	0% {
		transform: translate3d(0, 9rem, 0);
	}
	10% {
		transform: translate3d(-1rem, -4rem, 0);
	}
	20% {
		transform: translate3d(-8rem, 2rem, 0);
	}
	30% {
		transform: translate3d(9rem, -9rem, 0);
	}
	40% {
		transform: translate3d(-2rem, 7rem, 0);
	}
	50% {
		transform: translate3d(-9rem, -4rem, 0);
	}
	60% {
		transform: translate3d(2rem, 6rem, 0);
	}
	70% {
		transform: translate3d(7rem, -8rem, 0);
	}
	80% {
		transform: translate3d(-9rem, 1rem, 0);
	}
	90% {
		transform: translate3d(6rem, -5rem, 0);
	}
	to {
		transform: translate3d(-7rem, 0, 0);
	}
}


@media only screen and (min-width: 31.25rem) {
    .dashboard {
        grid-template-areas: '. title title .'
                         'left center center right'
                         'bottom bottom bottom bottom';
    }

    .profile h1 {
        width: auto;
    }
    .activity-feed h2 {
        font-size: 1.2rem;
        padding: 0;
    }

    .activity-feed ul {
        gap: 5rem;
    }

    .activity-feed li {
        padding: .5rem;
        line-height: 1.5;
        min-width: auto;
    }
}