*, *::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    padding: 0;
    font-family: 'Inter';
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
  
input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

h1,
h2 {
    text-transform: uppercase;
    font-weight: bold;
	text-align: center;
}

h1 {
    font-family: 'Bungee Shade';
    font-size: 3rem;
}

h2 {
    font-family: 'Darker Grotesque';
    padding: .5rem;
    font-size: 1.2rem;
}

aside {
    position: fixed;
    right: 0;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px 10px;
    grid-template-areas: '. title title .'
                         'left center center right'
                         'bottom bottom bottom bottom';
    
    grid-template-rows: .7fr 2.1fr .2fr;
}

.profile {
    text-align: center;
}

.profile p {
    font-family: 'DotGothic16';
    font-size: 1.2rem;
    padding: 1rem;
    max-width: fit-content;
    border: 2px solid black;
    border-radius: .5rem;
    box-shadow: 5px 5px;
    background: white;
    rotate: -5deg;
    margin-inline: auto;
}

.title {
    grid-area: title;
    margin-bottom: 2rem;
}

.left {
    grid-area: left;
}

.center {
    grid-area: center;
}

.right {
    grid-area: right;
}

.bottom {
    grid-area: bottom;
}

.calories {
    position: fixed;
    left: 0;
    max-width: fit-content;
    border: 1px solid black;
    border-radius: 0 1vmax 1vmax 0;
}

.calories h2, aside h2 {
    text-decoration: underline;
}

.calories-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;
}

.calories-item {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    border: 1px solid black;
    border-radius: .5rem;
}

.calories-item p {
    margin-inline: auto;
}